:root{
	--green: #006838;
	--yellow: #ece7d0;
	--black: #17140F;
}

html {
	font-family: system-ui, sans-serif;
	font-size: 1.3em;
	text-wrap: balance;
	max-width: 40rem;
	padding: 2rem;
	margin: auto;
	line-height: 1.5rem;
}

body {
	background-color: var(--yellow);
	color: var(--grey);
}

a {
	color: var(--green);
}

h1 {
	text-transform: uppercase;
}

#main-logo {
	display: block;
	margin: auto;
}